[submodule "anki-mcp"]
	path = plugins/anki-mcp
	url = https://github.com/diotima-garden/anki-mcp.git
[submodule ".claude/utils"]
	path = .claude/utils
	url = https://github.com/diotima-garden/python-utils.git
[submodule "plugins/mneme"]
	path = plugins/mneme
	url = https://github.com/diotima-garden/mneme.git
[submodule "plugins/dafne"]
	path = plugins/dafne
	url = https://github.com/diotima-garden/dafne.git
[submodule "groves/spanish"]
	path = groves/spanish
	url = https://github.com/diotima-garden/spanish.git
[submodule "groves/english"]
	path = groves/english
	url = https://github.com/diotima-garden/english.git
[submodule "groves/instruments"]
	path = groves/instruments
	url = https://github.com/diotima-garden/instruments.git
[submodule "groves/social-dynamics"]
	path = groves/social-dynamics
	url = https://github.com/diotima-garden/social-dynamics.git
